@model CRUD.Models.Personnel

@{
    ViewData["Title"] = "Delete Personnel";
}

<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Personnel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ARank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ARank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ABranch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ABranch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DliHire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DliHire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltOfficeSymbol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltOfficeSymbol)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Personnel_ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
